@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-light: #f8fafc;
  --color-background-dark: #0a0e17;
  --color-primary: rgb(17 82 212 / <alpha-value>);
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 min-h-screen;
  font-family: 'Spline Sans', sans-serif;
  .glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.glass-darker {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
}
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}